on fs
    chown system system /dev/gf318m_fp

# goodix fingerprint sevice
service gf318fpd /system/bin/goodixfingerprintd
    class late_start
    user system
    group system sdcard_rw media_rw
	disabled

on property:persist.sys.fptype=goodix_318m
    start gf318fpd
